<form class="box" action="/dashboard/addstation" method="POST">
  <label>Enter Station Details:</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
      <input class="input" type="text" placeholder="Enter station name" name="title">
      </div>
      <div class="field">
      <input class="input" type="text" placeholder="Enter latitude" name="latitude">
      </div>
      <div class="field">
      <input class="input" type="text" placeholder="Enter longitude" name="longitude">
      </div>
    </div>
  </div>
  <button class="button is-link">Add Station</button>
</form>