{{> menu active="about"}}

<section class="box is-3 has-text-centered">
  <h3 class="title">
    Station 2.0
  </h3>
  <div class="section">
    <p>
      Weather Station - Version 2.0
    </p>
  </div>
</section>